<!DOCTYPE html>
<html>
  <head>
    <title>Face Recognition Attendance System Help Page</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="static\help.css">
  </head>
  <body>
    <header>
      <h1>Face Recognition Attendance System Help Page</h1>
    </header>
    ><a href="\help">Contact Us</a>
    <main>
      <section>
        <h2>Registration</h2>
        <p>...</p>
      </section>
      <section>
        <h2>Marking Attendance</h2>
        <p>...</p>
      </section>
      <section>
        <h2>Troubleshooting</h2>
        <p>...</p>
      </section>
    </main>
  </body>
</html>